/** PRODUCTS **/
.products {
  width: 100%;
  height: auto;
}
.products .avatar-txt-srch {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .products .burak-restaurant-txt {
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins";
  }
  
  .products .avatar-txt-srch .inputs {
    width: 370px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    position: absolute;
    border: none;
    right: 200px;
   
  }
  .products .avatar-txt-srch .inputs .input-srch {
    width: 180px;
    height: 36px;
    border: none;
    border-radius: 20px;
    cursor: text;
  }
  
  .products .avatar-txt-srch .inputs .input-btn {
  
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightslategray;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: rgb(48, 41, 41);
    color: #d7b586;
  }
  

  
  .products .dishes-filter-section {
    margin-top: 30px;
    width: 256px ;
    height: 36px;
    margin-left: 85%;
  }
  
  .products .dishes-filter-section .dishes-filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  
  .products .dishes-filter-section .dishes-filter-box Button {
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
  }
  

  .products .list-category-section {
    margin-top: 30px;
    margin-left: 10%;
    width: 100%;
    height: 1014px;
  }
  
  .products .list-category-section .gategory-main {
    width: 500px;
    transform: rotate(270deg);
    position: relative;
    top: 150px;
    right: 23%; 
    border-radius: 20px;
  }
  
  .products .list-category-section .gategory-main Button {
    width: 40px;
    height: 36px;
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
  }

  
 .products .product-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
  }
  
  .products  .product-wrapper .product-card {
    width: 250px;
    height: 400px;
    border-top-left-radius: 25px;
  }
  
  .products  .product-wrapper .product-card .product-img {
    width: 273px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 35px;
  }
  
  .products  .product-wrapper .product-card .product-sale {
    margin-top: 20px;
    margin-left: 12px;
    width: 130px;
    height: 30px;
    border-radius: 35px;
    font-weight: 600;
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-size: 14px;
  }
  
  .products  .product-wrapper .product-card .hover-btns .shop-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    position: relative;
    top: 160px;
    left: 90px;
    background-color: rgb(153, 69, 168);
    opacity: 0;
  }
  .products  .product-wrapper .product-card .hover-btns .shop-btn:hover {
    opacity: 1;
  }
  
  .products  .product-wrapper .product-card .hover-btns .eye-icon {
    position: absolute;
    bottom: 20px;
    position: relative;
    top: 135px;
    left: 210px;
    display: flex;
    opacity: 0;
  }
  
  .products  .product-wrapper .product-card .hover-btns .eye {
    position: absolute;
    bottom: 20px;
    position: relative;
    top: 105px;
    left: -15px;
    display: flex;
    opacity: 0;
  }
  
  .products  .product-wrapper .product-card .hover-btns:hover {
    opacity: 1;
  }
  
  .products  .product-wrapper .product-card .product-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .products  .product-desc-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #ffc800;
  }
  
  .products  .product-wrapper .no-data {
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
  }
  
  .products  .pagination-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
  }
  

  
  .products .brands-logo {
    margin-top: -30%;
   width: 100%;
   height: 640px;
   background: rgb(18, 18, 18);
  }
  
  .products .brands-logo .brand-title .brand-txt{
    margin-top: 30px;
    font-size: 30px;
    color: #d7b586;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
  }
  
  .products .brands-logo .brand-all-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  
  .products .brands-logo .brand-box {
    margin-top: 50px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
  }
  
  
  .products .address {
    margin-top: 43px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products .address-area .title {
    margin-top:30p;
    font-size: 30px;
    color: #3c3c3c;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
  }
/* ChosenProduct */
.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }
  